/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

 /* ---- particles.js container ---- */ 
 #particles-js{ position:absolute;
     width: 100%; 
     height: 100%;
      background-color: #fafafae3;
       background-image: url(""); 
       background-repeat: no-repeat;
        background-size: cover; 
        background-position: 50% 50%; } 
/* ---- stats.js ---- */ 
.count-particles{ background: #000022;
     position: absolute;
      top: 48px;
       left: 0;
        width: 80px; 
        color: #13E8E9; 
        font-size: .8em; 
        text-align: left;
         text-indent: 4px;
          line-height: 14px; 
          padding-bottom: 2px;
           font-family: Helvetica, Arial, sans-serif;
            font-weight: bold; } 
.js-count-particles{ font-size: 1.1em; } 
#stats, .count-particles{ 

 margin-top: 5px; margin-left: 5px; 
} 
#stats{ border-radius: 3px 3px 0 0; 
    overflow: hidden; } 
.count-particles{ border-radius: 0 0 3px 3px; }

#particles-js {
    position : absolute;
    width:100%;
    height:100%;
    z-index:-1;
}

/* pre loader */

.loader{
    position: fixed;
    top: 0; left: 0;
    z-index: 10000;
    background: #e6eff1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .loader.fade{
    top: -120%;
  }

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem ;
    --first-color: #4056a1;
    --first-color-second: #3a5ed4;
    --first-color-alt:#535e85 ;
    --first-color-lighter:#444a5c ;
    --title-color: #d79922;
    --text-color: #f13c20;
    --text-color-light: #af4737;
    --input-color: #2c3531;
    --body-color: #efe2ba;
    --scroll-bar-color: #2e151b;
    --scroll-thumb-color: #ff652f;
    --container-color: #FFF;

    
    --font-medium: 600 ;
    --font-semi-bold: 650;
    
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 1.9rem ;
    --h1-font-size: 1.45rem;
    --h2-font-size: 1.20rem;
    --h3-font-size: 1.123rem;
    --normal-font-size: .956rem;
    --small-font-size: .856rem;
    --smaller-font-size: .80rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    --mb-0-25: 0.25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem ;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size:3rem ;
        --h1-font-size:2.25rem ;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
    --first-color-second:#041C32 ;
    --first-color:#9b445d;
    --title-color:#f3e40d ;
    --text-color: #ECB365;
   
    --input-color:#04293A;
    --body-color: #064663;
    --container-color: #ECB365;
    --scroll-bar-color: #2e151b;
    --scroll-thumb-color: #ff652f;
}

/*========== Button ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}
.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}
.change-theme:hover{
    color:var(--first-color);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height:auto;
}

/*==================== Base CLASSES ====================*/
.section{
    padding: 2rem 0 4rem;
    
}
.section__title{
    font-size: var(--h1-font-size);
    margin-bottom: 3rem;
}
.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom:var(--mb-3);
}
.section__subtitle_subpart{
    text-align: center;
    display: block;
}
.section__title,.section__subtitle{
    text-align: center;
}



.container{
    max-width: 768px;
    margin-left:var(--mb-1-5);
    margin-right: var(--mb-0-5);
}

.grid{
    display: grid;
    gap:1.5rem;
}

.header{
   height: 0;
   position: fixed;
   width:100%;
   left:0;
   z-index: var(--z-fixed);
   background-color: #FFF ;
}
/*==================== Navbar====================*/
.nav{
    max-width: 968px;
    background-color:var(--body-color);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height:max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0%;
    margin-right: 0%;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.nav__logo,
.nav_toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover{
    color:var(--first-color);
}
.nav_toggle{
    font-size:1.1rem;
    cursor:pointer;
}
.nav_toggle:hover{
    color: var(--first-color);
    padding-right: 0.5rem;
}

@media screen and (max-width:767px){
    .nav__menu{
        position: fixed;
        bottom: 100%;
        height: max-content;
        left:0;
        width:100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius:0 0 1.5rem 1.5rem;
        transition: .3s;
        
    }
}

.nav__list{
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color:var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover{
    color: var(--first-color);
}
.nav__icon{
    font-size: 1.3rem;
}
.nav__close{
    position: absolute;
    right: 1.3rem;
    top: .5rem;
    font-size:1.5rem;
    cursor:pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color: var(--first-color-alt);
}
/* show menu */
.show-menu{
    top: 0;
}
.nav__toggle{
    font-size: 1.5rem;
    
    cursor: pointer;
}
.nav__toggle:hover{
    color: var(--first-color);
}

/*==================== HOME ====================*/
.home__container{
    gap:1rem;
    z-index: 100000;
}
.home__content{
    grid-template-columns:.5fr 3fr;
    padding-top:3.5rem;
    align-items: center;
}
.home__social{
    display:grid;
    grid-template-columns: max-content;
    row-gap:1rem;
}
.home__social-icon{
    font-size:2rem;
    color:var(--first-color);
}
.home__social-icon:hover{
    color:var(--first-color-alt);
}
.home__blob{
    width:400px;
    /*fill:var(--first-color);*/
}
.home__blob-img{
    width:400x;
    border-radius: 100%;
}
.home__data{
    grid-column:1/3;
}
.home__title{
    font-size: var(--big-font-size);
}
.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}
.home__description{
    margin-bottom: var(--mb-2);
}
.home__scroll{
    display: none;
}
.home__scroll-button{
    color:var(--first-color);
    transition: 0.45s;
}
.home__scroll-button:hover{
    transition: translateY(0.25rem);
}
.home__scroll-mouse{
    font-size: 2rem;
}
.home__scroll-name{
    font-size: var(--small-font-size);
    color:var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}
.home__scroll-arrow{
    font-size: 1.25rem;
}


/*==================== BUTTONS ====================*/
.button{
    display: inline;
    background-color: var(--first-color) ;
    color:#FFF;
    padding:1rem;
    border-radius: 2rem;
    font-weight:var(--font-medium)
}
.button:hover{
    background-color: var(--first-color-alt);
    margin-left: var(--mb-0-5);
    transition: .3s;  
}
.button--flex{
    display: inline-flex;
    align-items: center;
}

/*==================== ABOUT ====================*/
.about{
    background-color: #aed3e0;
}
.about__img{
    display: block;
    width: 200px;
    border-radius: .5rem;
    margin:auto auto;
    margin-bottom: var(--mb-0-5);
}
.about__description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}
.about__info{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}
.about__info-name{
    font-size: var(--small-font-size);
}
.about__info-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
}
.about__info-title,.about__info-name{
    display: block;
    text-align: center;
}
.about__subtitle{
    display: block;
    font-size: var(--small-font-size);
    text-align: center;
}
/*==================== SKILLS ====================*/
.skills__container{
    row-gap: 0;
    
}
.skills{
    background-color: rgb(77, 65, 92);
}
.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}
.skills__icon,.skills__arrow{
    font-size: 3rem;
    color:var(--first-color);
    padding-left: 1%;
    padding-right: 1%;
}
.skills__icon{
    margin-right: var(--mb-0-75);
}
.skills__title{
    font-size: var(--h3-font-size);
}
.skills__arrow{
    margin-left: auto;
    transition: .4s;
}
.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.5rem;
}
.skills__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}
.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.skills__bar,.skills__percentage{
    height: 5px;
    border-radius: .25rem;
}
.skills__bar{
    background-color: var(--first-color-lighter);
}
.skills__percentage{
    display: flex;
    background-color: var(--first-color);
}
.skills__html{
    width:85%;
}
.skills__css{
    width: 80%;
}
.skills__javascript{
    width: 80%;
}
.skills__react{
width: 60%;
}
.skills__jquery{
width: 70%;
}
.skills__node{
    width: 70%;
}
.skills__firebase{
    width:60%;
}
.skills__mysql{
    width:70%;
}
.skills__mongo{
    width: 80%;
}
.skills__git{
    width: 90%;
}
.skills__c
{
    width:85%;
}
.skills_cpp{
    width: 90%;
}
.skills__java{
    width: 70%;
}
.skills__python{
    width: 70%;
}
.skills__cn{
    width: 85%;
}
.skills__dbms{
    width: 90%;
}
.skills__os{
    width:85%;
}
.skills__sd{
    width: 60%;
}
.skills__mc
{
    width:70%;
}

.skills__close .skills__list{
    height:0;
    overflow: hidden;
}
.skills__open .skills__list{
    height:max-content;
    margin-bottom: var(--mb-2-5);
}
.skills__open .skills__arrow{
    transform: rotate(-180deg);
}
/*==================== Education====================*/

.education{
    background: #c9c7cc;
    max-height: max-content;
  }
  .heading{
      text-align: center;
      font-size: var(--h1-font-size);
  }
  .education .qoute{
    font-size: 1rem;
    text-align: center;
    font-family: 'Popins', sans-serif;
    font-weight: 600;
    margin-top: .5rem;
  }
  .education .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .education .box-container .box{
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: .5rem;
    box-shadow: .2rem .5rem 1rem rgba(0, 0, 0, .2);
    text-align: center;
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
    transition: .3s;
    background: rgb(252, 252, 252);
  }
  .education .box-container .box:hover{
    transform: scale(1.03);
    box-shadow: 1rem .5rem 1.2rem rgba(0, 0, 0, .3);
  }
  .education .box-container .box .image{
    flex: 1 1 20rem;
    width: 100%;
  }
  .education .box-container .box img{
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .education .box-container .box .content{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
  }
  .education .box-container .box .content h3{
    font-size: 2rem;
    color: #0749bb;
    padding: .5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
  }
  .education .box-container .box .content p{
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: left;
  }
  .education h4{
    font-size: 1rem;
    color: rgb(45, 202, 176);
    text-align: left;
    margin: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  

 

/*==================== Projects ====================*/
.projec{
    background-color: #b9854a;
}
.projec__container{
    overflow: initial;
}
.projec__content{
    padding: 0 1.5rem;
    background-color: rgb(91, 135, 155);
    border-radius: 1.5rem;
}
.projec__img{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}
.projec__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}
.projec__description{
    margin-bottom: var(--mb-0-75);
}

.projec__button:hover .button__icon{
    transform: translateX(.25rem);
}
/*==================== Experience ====================*/
.experience .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .experience .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: #7f7fa5;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2;
  }
  .experience .container1 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  /*circles on timeline*/
  
  .experience .left {
    left: 0;
  }
  .experience .right {
    left: 43%;
  }
  /* arrows pointing right */
  .experience .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #da5724;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #da5724;
  }
  /* arrows pointing left  */
  .experience .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #da5724;
    border-width: 10px 10px 10px 0;
    border-color: transparent #da5724 transparent transparent;
  }
  .experience .right::after {
    left: -16px;
  }
  .experience .content {
    background-color: #da5724;
    color: #041822;
    position: relative;
    border-radius: 6px;
  }
  .experience .content .tag{
    font-size: 1rem;
    padding-top: 1.rem;
    padding-left: 1rem;
  }
  .experience .content .desc{
    margin-left: 1.5rem;
    padding-bottom: 1rem;
  }
  .experience .content .desc h3{
    font-size: 1.5rem;
    font-weight: 600;
  }
  .experience .content .desc p{
    font-size: 1.2rem;
  }
  

/*==================== FOOTER ====================*/
.footer{
    padding-top: 2rem;
}
footer{
    box-shadow: 0 100vh 0 100vh var(--first-color);
  }
.footer__container{
    row-gap: 3.5rem;
}
.footer__bg{
    background-color: var(--first-color-second);
    padding:2rem 0 3rem;
    margin-bottom: 0;
}
.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}
.footer__subtitle{
    font-size:var(--small-font-size);
}
.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.footer__link:hover{
    color:var(--first-color-lighter);
    transition: .5s;
    
}
.footer__social{
    font-size: 2.5rem;
    margin-right: var(--mb-1-5);
}
.footer__social:hover{
    color:var(--first-color-lighter);
}
.footer__copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    color: #FFF;
    margin-top: var(--mb-3);
}
.footer__title,.footer__subtitle,.footer__link,.footer__social{
    color: #FFF;
}
/*========== SCROLL UP ==========*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding: 0.8rem 0.7rem;
    border-radius: 50%;
    z-index:var(--z-tooltip);
    transition: 0.4s;
}
.scrollup:hover{
    background-color:var(--first-color-alt);
    color: #FFF;
}
/* Show scroll */
.show-scroll{
    bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width:.60rem;
    background-color:var(--scroll-bar-color);
    border-radius: 0.5rem;

}
::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: 50%;
}
::-webkit-scrollbar-thumb:hover{

background-color: var(--text-color-light);
}

.footer__icon{
    border-radius: 50%;
    color: #FFF;
    width:0.8rem;
    height:0.8rem;
}

.footer .end{
    padding: 1rem 0 0 0;
    text-align: center;
    font-size: 1rem;
    margin-bottom: .1rem;;
    background-color: #04293A;
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
    color: #fff;
    border-top: .1rem solid #fff3;
  }
 
/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width:720px){
    .container{
        margin-left: var(--mb-1);
        margin-right:var(--mb-1);
    }
    .nav__menu{
        padding: 2rem .25rem 4rem;
        width:25.5%;
    }
    .nav__list{
        column-gap: 0;
        
    }
    .home__content{
        grid-template-columns: .25fr 3fr;
    }
    .home__blob{
        width:13rem;
    }
    .skills__title{
        font-size: var(--normal-font-size);
    }
    .nav{
        position: fixed;
        margin-left: 0;
        margin-bottom: 0;
        width:25.5%;
    }
    .experience{
        min-height: 20px;
      }
      .experience .timeline{
        margin-top: 1rem;
      }
      .experience .timeline::after {
      left: 15px;
      }
      .experience .container1 {
      width: 100%;
      padding-left: 2rem;
      padding-right: 1rem;
      }
      .experience .container1::after {   
        font-size: 2.2rem;
      }
      .experience .container1::before {
      left: 20px;
      border: medium solid #f68c09;
      border-width: 10px 10px 10px 0;
      border-color: transparent #f68c09 transparent transparent;
      }
      .experience .left::after {
        left: 5px;
      }
      .experience .right::after {
        left: 5px;
      }
      .experience .right {
      left: 0%;
      }
      .projec__button{
        margin-bottom: 1%;
    }
    .footer__container{
        width:100vh;
    }
    .scrollup{
        position: fixed;
        right: 78%;
        bottom: -20%;
        background-color: var(--first-color);
        opacity: 0.8;
        padding: 0.8rem 0.7rem;
        border-radius: 50%;
        z-index:var(--z-tooltip);
        transition: 0.4s;
    }
    .scrollup:hover{
        background-color:var(--first-color-alt);
        color: #FFF;
    }
    /* Show scroll */
    .show-scroll{
        bottom: 5rem;
    }
    .loader{
        width:100vh;
        height:100vh;
    }

}


/* For large devices */

@media screen and (min-width:920px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding: 6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }
    .header{
        top:0;
        bottom: initial;
    }
    .header,.main,.footer__container{
        padding: 0 1rem;
    }
    .nav{
        height:4rem;
        column-gap: 1rem;
    }
    .nav__icon,.nav__close,.nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .change-theme{
        margin: 0;
    }
    .home__social{
        padding-right: 70%;
    }
    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob{
        width: 380px;
    }
    .home__scroll{
        display: block;
    }
    .home__scroll-button{
        margin-left: 3rem;
    }
    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width:350px;
    }
    .about__description{
        text-align: initial;
    }
    .about__info{
        justify-content: space-between;
    }
    .about__buttons{
        justify-content: initial;
    }
    .footer__container{
        grid-template-columns: repeat(3,3fr);
        column-gap: 5rem;
    }
    .footer__bg{
        padding: 3rem 0 3.5rem;
    }
    .footer__links{
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__socials{
        justify-self:flex-end ;
        
    }
    .footer__copy{
        margin-top: 4.5rem;
    }
    .experience .right {
        left: 49%;
    }
    html,body{
        overflow-x: hidden;
        overflow-y: auto;
      }
    

}

.active-link{
    color: var(--first-color);
    padding: 0.1rem;
    
    border-radius: .5rem;
    border-bottom: .3rem solid #011aff
}

